* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: flex;
  justify-content: space-around;
}
nav {
  height: 1020px;
  background: rgba(229, 84, 115, 0.1);
}

.title {
  font-size: 30px;
  margin-top: 10px;
}

nav ul {
  display: flex;
  height: 200px;
  margin-top: 20px;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}

.title-color {
  color: #e55473;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-title {
  font-size: 50px;
}

.banner-message {
  margin: 20px 0;
  font-size: 18px;
}
#btn {
  padding: 10px 15px;
  color: white;
  background-color: #e55473;
  border: none;
  border-radius: 5px;
}
.banner-img {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#feature {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 100px 0px;
}
.feature-title {
  margin: 25px 0px;
}
.feature-message {
  font-size: 18px;
  font-weight: normal;
  color: rgba(39, 39, 39, 0.6);
}

.feature-content {
  width: 310px;
  height: 428px;
  flex-shrink: 0;
  padding: 110px 75px 65px 75px;
}
.box1 {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.box2 {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.box3 {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.featured-img {
  display: flex;
  justify-content: space-around;
  margin: 0px 40px;
}
.img-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 20px;
}
.icon-section {
  margin: 0px 2400px;
  height: 320px;
  flex-shrink: 0;
  margin: 100px 38px;
}
.icon-box {
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon1 {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.icon2 {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.icon3 {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.icon-message {
  color: rgba(39, 39, 39, 0.8);
  font-size: 12px;
  width: 316px;
  height: 35px;
  margin: 10px 0px;
}

.sign-up {
  width: 100%;
  height: 620px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}

.sign-up-box1 {
  text-align: center;
}
.sign-up-title {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.sign-up-title-span {
  color: #e55473;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.sign-up-message {
  margin: 20px 0px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
#sign-up-btn {
  padding: 10px 10px;
  color: white;
  background-color: #e55473;
  border: none;
  border-radius: 5px;
}
.instagram {
  text-align: center;
  margin-bottom: 100px;
}
.instagram-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.instagram-message {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0px;
}
.insta-img {
  display: flex;

  height: 396px;
  flex-shrink: 0;
  justify-content: space-evenly;
}
